In [95]:
import pandas as pd
import numpy as np

In [96]:
data1=pd.read_csv("data1.csv")
data2=pd.read_csv("data2.csv")

In [97]:
data1.head(7)

,movie_id,title,tags
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'ScienceFic..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action', 'ocean', 'd..."
2,206647,Spectre,"['Action', 'Adventure', 'Crime', 'spy', 'based..."
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller', 'dcco..."
4,49529,John Carter,"['Action', 'Adventure', 'ScienceFiction', 'bas..."
5,559,Spider-Man 3,"['Fantasy', 'Action', 'Adventure', 'dualidenti..."
6,38757,Tangled,"['Animation', 'Family', 'hostage', 'magic', 'h..."

In [98]:
data1.shape

(4800, 3)

In [99]:
data2.head(7)

,movie_id,title,tags
0,675327,Shadow in the Cloud,"['Horror', 'Action', 'War', 'A', 'WWII', 'pilo..."
1,628534,The White Tiger,"['Crime', 'Drama', 'An', 'ambitious', 'Indian'..."
2,741228,Locked Down,"['Comedy', 'Crime', 'Drama', 'During', 'a', 'C..."
3,532865,The Dig,"['Drama', 'History', 'As', 'WWII', 'looms,', '..."
4,775996,Outside the Wire,"['Thriller', 'Action', 'Science Fiction', 'In'..."
5,634528,The Marksman,"['Action', 'Thriller', 'Crime', 'Jim', 'Hanson..."
6,621476,American Skin,"['Drama', 'A', 'Marine', 'veteran', 'working',..."

In [100]:
data2.shape

(256, 3)

In [101]:
frame=[data1,data2]

In [102]:
new_data = pd.concat(frame,ignore_index=True)

In [103]:
new_data.head(7)

,movie_id,title,tags
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'ScienceFic..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action', 'ocean', 'd..."
2,206647,Spectre,"['Action', 'Adventure', 'Crime', 'spy', 'based..."
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller', 'dcco..."
4,49529,John Carter,"['Action', 'Adventure', 'ScienceFiction', 'bas..."
5,559,Spider-Man 3,"['Fantasy', 'Action', 'Adventure', 'dualidenti..."
6,38757,Tangled,"['Animation', 'Family', 'hostage', 'magic', 'h..."

In [104]:
new_data['tags'].duplicated().sum()

0

In [105]:
import ast
def try_join(l):
    x=ast.literal_eval(l)
    for i in x:
        try:
            return ' '.join(x)
        except TypeError:
            return np.nan

In [106]:
new_data['tags']=new_data['tags'].apply(try_join)

In [107]:
new_data['tags'][0]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver StephenLang JamesCameron'

In [108]:
new_data.head(7)

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...
5,559,Spider-Man 3,Fantasy Action Adventure dualidentity amnesia ...
6,38757,Tangled,Animation Family hostage magic horse fairytale...

In [109]:
new_data['tags'][10]

'Adventure Fantasy Action ScienceFiction savingtheworld dccomics invulnerability sequel superhero basedoncomicbook kryptonite superpowers superhumanstrength lexluthor Superman returns to discover his 5-year absence has allowed Lex Luthor to walk free, and that those he was closest too felt abandoned and have moved on. Luthor plots his ultimate revenge that could see millions killed and change the face of the planet forever, as well as ridding himself of the Man of Steel. BrandonRouth KevinSpacey KateBosworth JamesMarsden BryanSinger'

In [111]:
#convertin entire string to lower case
new_data['tags']=new_data['tags'].apply(lambda x:x.lower())

In [112]:
new_data.head(7)

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...
5,559,Spider-Man 3,fantasy action adventure dualidentity amnesia ...
6,38757,Tangled,animation family hostage magic horse fairytale...

In [113]:
#vectorization of text tags
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=7000,stop_words="english")

In [114]:
vector=cv.fit_transform(new_data['tags']).toarray()

In [115]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [117]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [118]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '10th',
 '11',
 '12',
 '13',
 '14',
 '15',
 '150',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcentury',
 '19',
 '1930s',
 '1940s',
 '1944',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1990s',
 '1994',
 '1995',
 '1997',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2000',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '70s',
 '7th',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'abandoned',
 'abandons',
 'abbiecornish',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abortion',
 'abroad',
 'absence',
 'abuse',
 'abused',
 'abusive',
 'academic',
 'academy',
 'accept',
 'acceptance',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'accomplished',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adambrody',
 'adammckay',
 'adams',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adaptation',
 'adapted',
 'add',
 'addict',
 'addicted',
 'addiction',
 'adds',
 'adjust',
 'adolescence',
 'adolescent',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adorable',
 'adrienbrody',
 'adrift',
 'adult',
 'adultanimation',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'adventurous',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affect',
 'affection',
 'affections',
 'affluent',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agedifference',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aidanquinn',
 'aided',
 'aids',
 'ailing',
 'aim',
 'aiming',
 'air',
 'airborne',
 'aircraft',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alanalda',
 'alanarkin',
 'alaska',
 'albert',
 'albertbrooks',
 'alcatraz',
 'alcohol',
 'alcoholabuse',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alejandrogonzáleziñárritu',
 'alex',
 'alexanderskarsgård',
 'alexapenavega',
 'alexisbledel',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'algeria',
 'ali',
 'alice',
 'alicebraga',
 'aliciavikander',
 'alien',
 'alieninvasion',
 'alienlife',
 'alienplanet',
 'aliens',
 'alike',
 'alive',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allisonjanney',
 'allow',
 'allowing',
 'allows',
 'ally',
 'alongside',
 'alpacino',
 'alpha',
 'alter',
 'altering',
 'alternate',
 'alternative',
 'alysonhannigan',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfried',
 'amateur',
 'amazing',
 'amazon',
 'ambassador',
 'amberheard',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootball',
 'americanfootballplayer',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusement',
 'amusementpark',
 'amy',
 'amyadams',
 'amypoehler',
 'amyryan',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedy',
 'ancient',
 'ancientgreece',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrew',
 'andrewgarfield',
 'android',
 'andy',
 'andyfickman',
 'andygarcía',
 'andyserkis',
 'andytennant',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'anime',
 'anjelicahuston',
 'ann',
 'anna',
 'annabelle',
 'annafaris',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'anne',
 'annebancroft',
 'annehathaway',
 'anneheche',
 'annemoss',
 'annettebening',
 'annie',
 'anniversary',
 'announces',
 'annual',
 'anonymity',
 'anonymous',
 'answer',
 'answers',
 'ant',
 'antarctic',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthropomorphism',
 'anti',
 'antics',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'anxiety',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'apparently',
 'appear',
 'appearance',
 'appears',
 'apple',
 'appointed',
 'appreciate',
 'apprentice',
 'approach',
 'approached',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeology',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'arizona',
 'arm',
 'armed',
 'armiehammer',
 'armored',
 'arms',
 'armsdealer',
 'army',
 'arnold',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrangement',
 'arranges',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'arrogant',
 'arson',
 'art',
 'artgallery',
 'arthur',
 'article',
 'artifact',
 'artificial',
 'artificialintelligence',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ashes',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assist',
 'assistance',
 'assistant',
 'assortment',
 'assume',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'atheist',
 'athlete',
 'athletes',
 'atlanta',
 'atlantic',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempted',
 'attemptedmurder',
 'attempting',
 'attempts',
 'attempttoescape',
 'attend',
 'attending',
 'attends',
 'attention',
 'attic',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'audreytautou',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'autobiographical',
 'automobileracing',
 'available',
 'avenge',
 'average',
 'avoid',
 'avoiding',
 'await',
 'awaits',
 'awake',
 'awakens',
 'award',
 'away',
 'awesome',
 'awkward',
 'awry',
 'ax',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'backed',
 'background',
 'backgrounds',
 'backstage',
 'backyard',
 'bad',
 'badly',
 'bag',
 'bahamas',
 'bail',
 'baker',
 'balance',
 'ball',
 'ballet',
 'baltimore',
 'band',
 'bandit',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'banking',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barbara',
 'barbarahershey',
 'barbarian',
 'barbrastreisand',
 'barely',
 'bargained',
 'barn',
 'barney',
 'baron',
 'barriers',
 'barry',
 'barrylevinson',
 'barrypepper',
 'barrysonnenfeld',
 'bars',
 'base',
 'baseball',
 'based',
 'basedonchildren',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'bathtub',
 'batman',
 'battalion',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'baxter',
 'bay',
 'beach',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beats',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becky',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'belgium',
 'belief',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'bell',
 'belong',
 'belongs',
 'beloved',
 'ben',
 'benaffleck',
 'bending',
 'beneath',
 'benedictcumberbatch',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstiller',
 'bent',
 'berlin',
 'berniemac',
 'best',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettemidler',
 'better',
 'betty',
 'beverly',
 'bible',
 'biblical',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikers',
 'bikini',
 'bilbo',
 'billhader',
 'billion',
 'billionaire',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billyburke',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'biographical',
 'biography',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bisexuality',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bittersweet',
 'bizarre',
 'black',
 'blackandwhite',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blacksmith',
 'blade',
 'blake',
 'blakelively',
 'blame',
 'blind',
 'blindness',
 'bliss',
 'blizzard',
 'block',
 'blonde',
 'blood',
 'bloodsplatter',
 'bloodthirsty',
 'bloody',
 'bloom',
 'blow',
 'blown',
 'blu',
 'blue',
 'blues',
 'blunt',
 'bly',
 'board',
 'boarding',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bobbycannavale',
 'bobbyfarrelly',
 'bobhoskins',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bomber',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'bonniehunt',
 'book',
 'books',
 'boots',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'botched',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'bourne',
 'bout',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'brad',
 'braddourif',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brandon',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breakingthefourthwall',
 'breaks',
 'breast',
 'breathing',
 'breckinmeyer',
 'brendanfraser',
 'brendangleeson',
 'brent',
 'brettratner',
 'brewing',
 'brian',
 'briancox',
 'briandepalma',
 'brianlevant',
 'brianrobbins',
 'bride',
 'bridesmaid',
 'bridge',
 'bridgetfonda',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'britt',
 'brittanymurphy',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brooklyn',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbell',
 'brucedern',
 'brucegreenwood',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryancranston',
 'bryansinger',
 'bryce',
 'brycedallashoward',
 'buck',
 'budapest',
 'buddies',
 'buddy',
 'buddycomedy',
 'buddycop',
 'budget',
 'bugs',
 'build',
 'building',
 'builds',
 'built',
 'bullet',
 'bullets',
 'bullies',
 'bully',
 'bullying',
 'bum',
 'bumbling',
 'bunch',
 'bunker',
 'bunny',
 'bureaucracy',
 'burglar',
 'buried',
 'burned',
 'burns',
 'burtreynolds',
 'bury',
 'bus',
 'bush',
 'business',
 'businessman',
 'businesswoman',
 'bust',
 'busy',
 'butch',
 'butcher',
 'butler',
 'butt',
 'butterfly',
 'button',
 'buy',
 'buzz',
 'cabin',
 'cable',
 'caesar',
 'cage',
 'caine',
 'cairo',
 'cal',
 'caleb',
 'california',
 'called',
 'calling',
 'calls',
 'calm',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'cameron',
 'cameroncrowe',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campbell',
 'campbellscott',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candlelightvigil',
 'candy',
 'canine',
 'cannabis',
 'cannibal',
 'canuxploitation',
 'capable',
 'caper',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'capturing',
 'car',
 'caraccident',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'careers',
 'carefree',
 'cares',
 'caretaker',
 'careymulligan',
 'cargo',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carnival',
 'carol',
 'carolina',
 'carpenter',
 'carrace',
 'carrie',
 'carriefisher',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'cary',
 'caryelwes',
 'case',
 'cases',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catastrophic',
 'catch',
 'catches',
 'cateblanchett',
 'catherine',
 'catherinedeneuve',
 'catherinehardwicke',
 'catherinekeener',
 'catherineo',
 'catherinezeta',
 'catholic',
 'catholicism',
 'cats',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'cedrictheentertainer',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cell',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 ...]

In [119]:
#here in the dataset, words should be in it's root form. means steming needs to be done.
import nltk

In [120]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [121]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [122]:
stem(new_data['tags'][0])

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav stephenlang jamescameron'

In [124]:
new_data['tags']=new_data['tags'].apply(stem)

In [125]:
#calculating cosine means calculating distance of each movie with every other movie. and creating matrix for the same.
from sklearn.metrics.pairwise import cosine_similarity

In [127]:
similarity=cosine_similarity(vector)

In [128]:
similarity

array([[1.        , 0.07919455, 0.05356716, ..., 0.0757554 , 0.        ,
        0.03005565],
       [0.07919455, 1.        , 0.0579771 , ..., 0.12298801, 0.        ,
        0.06506   ],
       [0.05356716, 0.0579771 , 1.        , ..., 0.04159452, 0.        ,
        0.03300492],
       ...,
       [0.0757554 , 0.12298801, 0.04159452, ..., 1.        , 0.        ,
        0.09335201],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.04199605],
       [0.03005565, 0.06506   , 0.03300492, ..., 0.09335201, 0.04199605,
        1.        ]])

In [140]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:8]

[(539, 0.2375836548068046),
 (2403, 0.23026564952925205),
 (1191, 0.22795136315904269),
 (507, 0.22557281537864202),
 (1213, 0.21974475102907187),
 (260, 0.21749089913081476),
 (582, 0.216574040912105)]

In [172]:
#recommending movie
def recommend(movie):
    movie_index=new_data[new_data['title'] == movie].index[0]
    distance=similarity[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:8]
    
    for i in movie_list:
          print(new_data.iloc[i[0]].title)

In [176]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Amidst the Devil's Wings
Batman v Superman: Dawn of Justice
Batman Forever